/*------------------------------------*\
  #AUTO-COMPLETE-GITHUB-SETTINGS
\*------------------------------------*/

$auto-complete-github_height:              46px;

$auto-complete-github_search-icon-height:  22px;
$auto-complete-github_search-icon-vmargin:
  ($auto-complete-github_height - $auto-complete-github_search-icon-height) / 2;
