///*------------------------------------*\
//  #COLORS
//\*------------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Color palette
$color-blue-highlight: #5b72a7;

$color-gray:           #999;
$color-gray-light:     #ddd;
$color-gray-dark:      #444;





// Text
$color-text:           $color-gray-dark;
$color-shadow:         rgba(0, 0, 0, 0.15);
$color-placeholder:    #bbb;
