///*------------------------------------*\
//  #OBJECTS-MIXINS
//\*------------------------------------*/

// Global objects available to the entire project. Defined as mixin, it can be
// included in any rulesets.

@mixin base-text {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $color-text;
  line-height: $base-line-height / $base-font-size;
}
