/*------------------------------------*\
  #LINKS
\*------------------------------------*/

/**
 * Default styles for hyperlinks.
 */

a {
  color: $color-text;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
