/*------------------------------------*\
  #AUTO-COMPLETE-GITHUB
\*------------------------------------*/

// Stylesheet of auto-complete-github:
// Use the function auto_complete_github( inputElement ) to add style and
// autocomplete functionality to an input. As the user types, github users will
// show up in the autocomplete results.





// Dimensions of the auto-complete input
$auto-complete-github_height: 46px;

// Dimensions and margin of the search-icon
$auto-complete-github_search-icon-size: 22px;
$auto-complete-github_search-icon-vmargin:
  ($auto-complete-github_height - $auto-complete-github_search-icon-size) / 2;

/**
 * 1. Default search-icon size is 22px.
 * 2. Default input size is 270px x 46px.
 * 3. Default avatar size is 34px.
 */

.auto-complete-github {
  position: relative;
  background: #fff;
  min-width: 320px;
  width: 320px;
  cursor: default;

  &__search-icon {
    position: relative;
    vertical-align: top;
    margin: ($auto-complete-github_search-icon-vmargin + 1) 14px
            ($auto-complete-github_search-icon-vmargin - 1);
    width:  $auto-complete-github_search-icon-size; /* [1] */
    height: $auto-complete-github_search-icon-size; /* [1] */
    z-index: 2;
  }

  &__input {
    position: relative;
    vertical-align: top;
    width:  270px; /* [2] */
    height: $auto-complete-github_height; /* [2] */
    line-height: $auto-complete-github_height; /* [2] */
    font-size: 18px;
    z-index: 2;
  }

  &__menu {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: $auto-complete-github_height;
    z-index: 1;
    @include prefix(box-shadow, $base-box-shadow, webkit moz);

    &-list {

      &--visible {
        display: block;
      }

      &--hidden {
        display: none;
      }

      &-title {
        background: #f6f6f6;
        font-size: 12px;
        font-weight: bold;
        color: #777;
        padding: 11px 10px 10px;
        border: 0;
      }

      &-item {
        display: block;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.03);
        text-decoration: none !important;
        cursor: pointer;

        &--highlight {
          background: $color-blue-highlight;
          color: #eee;
        }

        &-avatar {
          width:  34px; /* [3] */
          height: 34px; /* [3] */
          padding: 6px 10px;
          vertical-align: top;
        }

        &-name {
          display: inline-block;
          line-height: $auto-complete-github_height;
          font-size: 12px;

          &-b {
            color: #111;

            &--highlight {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
