/*------------------------------------*\
  #AUTO-COMPLETE-AJAX
\*------------------------------------*/

// Stylesheet of auto-complete-ajax:
// Use the function auto_complete_ajax( inputElement ) to add autocomplete
// functionality to an input using ajax calls on keyup. As the user types,
// results will show up in the menu.





// Background color of the highlighted item
$auto-complete-ajax_color-highlight: $color-blue-highlight;

.c-auto-complete-ajax {
  min-width: 250px;

  &--visible {
    display: block;
  }

  &--hidden {
    display: none;
  }

  &--absolute {
    position: absolute;
  }
}

.auto-complete-ajax {

  &__title {
    background: #f6f6f6;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    padding: 11px 10px 10px;
    border: 0;
  }

  &__item {
    display: block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
    text-decoration: none !important;
    cursor: pointer;

    &--highlight {
      background: $auto-complete-ajax_color-highlight;
      color: #eee;
    }
  }

  &__bold {
    color: #111;

    &--highlight {
      color: #fff;
    }
  }
}
