/*------------------------------------*\
  #INPUT-AUTOCOMPLETE
\*------------------------------------*/

$input-autocomplete_height: 46px;
$input-autocomplete_icon-size: 22px;

$input-autocomplete_box-shadow: $base-box-shadow;
$input-autocomplete_color-highlight: $color-blue-highlight;

.c-input-autocomplete {
  position: relative;
  background: #fff;
  min-width: 320px;
  width: 320px;
  line-height: $input-autocomplete_height;
  cursor: default;

  &__input {
    position: relative;
    vertical-align: top;
    width:  270px;
    height: $input-autocomplete_height;
    line-height: $input-autocomplete_height;
    font-size: 18px;
    z-index: 2;
  }

  &__icon {
    position: relative;
    vertical-align: middle;
    margin: 0 14px;
    width:  $input-autocomplete_icon-size;
    height: $input-autocomplete_icon-size;
    z-index: 2;
  }

  &__menu-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: $input-autocomplete_height;
    line-height: 1.5;
    z-index: 1;
    @include prefix(box-shadow, $input-autocomplete_box-shadow, webkit moz);
  }

  &__menu {
    display: block;

    &--hidden {
      display: none;
    }
  }

  &__menu-title {
    background: #f6f6f6;
    font-size: 12px;
    font-weight: bold;
    color: #777;
    padding: 11px 10px 10px;
    border: 0;
  }

  &__item {
    display: block;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.03);
    text-decoration: none !important;
    cursor: pointer;

    b { color: #111; }

    &--highlight {
      background: $input-autocomplete_color-highlight;
      color: #eee;

      b { color: #fff; }
    }
  }

  &__avatar {
    width:  34px;
    height: 34px;
    padding: 6px 10px;
    vertical-align: top;
  }

  &__username {
    display: inline-block;
    line-height: $input-autocomplete_height;
    font-size: 12px;
  }
}
